@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

This website is still under construction and I don't really know what to put here yet.
<br />

<a href="https://modrinth.com/user/Larguma" title="Modrinth Profile">Modrinth Profile</a>
<a href="https://www.curseforge.com/members/Larguma" title="CurseForge Profile">CurseForge Profile</a>
<a href="https://github.com/Larguma" title="GitHub Profile">GitHub Profile</a>

<br />

<a href="mailto:contact@larguma.dev" title="Contact Me">Contact Me</a>